@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin:0;
    padding:0;
    height:100vh;
  background-image: linear-gradient(to top, #181636, #0b0f22, #000000, #000000, #000000);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
  }
  .center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 50em;
    margin: 0 auto;
  }
  
  .error {
    text-align: center;
  }
  
  .error__title {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -2px -2px 0 #c45eff, 2px 2px 0 #ff008c;
    -webkit-background-clip: text;
            background-clip: text;
    font-size: 250px;
    font-weight: 900;
    letter-spacing: -10px;
    margin: 0;
  }
  .error__type {

    position: absolute;
    z-index: 2;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    font-size: 2.75rem;
    letter-spacing: 10px;
    margin: 0;
    text-transform: uppercase;
  }
  .error__cta {
    position: absolute;
    z-index: 3;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2;
  }

  .btn{
    position: absolute;
    border: none;
    padding: 12px 40px;
    color: #fff;
    background: black;
    text-transform: uppercase;
    z-index: 1;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1px -1px 0 #c45eff, 1px 1px 0 #ff008c;    
  }

  .btn::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(196,94,255,1) 0%, rgba(255,0,140,1) 100%);
    transition: width 0.35s ease-in-out;
  }

  .btn:hover::after{
    left: 0;
    width: 100%;

  }
  
  .star{
    position:absolute;
    width:2px;
    height:2px;
    background:#fff;
    right:0;
    animation:starTwinkle 3s infinite linear;
  }
  
  .astronauta img{
    width:100px;
    position:absolute;
    top:55%;
    transition: 0.6s ease-in-out;
    animation:astronautFly 8s infinite linear;
  }
  
  @keyframes astronautFly{
    0%{
      left:-100px;
    }
    25%{
      top:50%;
      transform:rotate(30deg);
    }
    50%{
      transform:rotate(45deg);
      top:55%;
    }
    75%{
      top:60%;
      transform:rotate(30deg);
    }
    100%{
      left:110%;
      transform:rotate(45deg);
    }
  }
  
  @keyframes starTwinkle{
    0%{
       background:rgba(255,255,255,0.4);
    }
    25%{
      background:rgba(255,255,255,0.8);
    }
    50%{
     background:rgba(255,255,255,1);
    }
    75%{
      background:rgba(255,255,255,0.8);
    }
    100%{
      background:rgba(255,255,255,0.4);
    }
  }
  
  @media (max-width: 40em) {
    .error__title {
      font-size: 10rem;
    }
    .error__type {
      font-size: 1.25rem;
    }
    .error__cta {
      font-size: 1rem;
    }
  }